<p id="notice"><%= notice %></p>

<p>
  <strong>Comment string:</strong>
  <%#= @comment.comment_string %>
</p>

<%#= link_to 'Edit', edit_comment_path(@comment) %> |
<%#= link_to 'Back', comments_path %>
