<html>
<head>
  </head>
  <body>

<center>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tag title:</strong>
  <%= @tag.tag_title %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
</center>
</body>
</html>